<%= nested_form_for @poll do |f| %>

  <%= render 'error' %>

  <div class="field">
    <%= f.label :name, "Poll name" %><br>
    <%= f.text_field :name %>
  </div>

  <%= render 'record_fields', :builder => f %>

  <div class="actions">
    <%= f.submit "Update poll" %>
  </div>

<% end %>
