<%= nested_form_for @poll do |f| %>

  <%= render 'error' %>

  <div class="field">
    <%= f.label :name, "Poll name" %><br>
    <%= f.text_field :name %>
  </div>

  <%= render 'entry_fields', :builder => f %>

<% unless @poll.new_record? %>
  <%= link_to "Lock poll", lockdown_poll_path, :id => "lock" %>
<% end %>

  <div class="actions">
    <%= f.submit "Update poll" %>
  </div>

<% end %>
