<%= nested_form_for @poll, :url => send_invitations_poll_path do |f| %>
  <%= f.fields_for :recipients do |recipient_form| %>
    <%= recipient_form.label :email, "Email" %>
    <%= recipient_form.text_field :email %>
    <%= recipient_form.link_to_remove "Remove address" %>
  <% end %>
  <p> <%= f.link_to_add "Add another address", :recipients %> </p>
  <%= f.submit "Send" %>
<% end %>
