<p id="notice"><%= notice %></p>

<p> <%= render "poll" %> </p>

  <strong>Entries:</strong>
  <ul id="entries" data-poll-id="<%= @poll.id.to_s %>">
    <% @poll.entries.each do |entry| %>
      <%= render entry %>
    <% end %>
  </ul>

  <% unless current_user.present? and current_user.poll_owner(@poll.id) %>
    <%= button_tag "Vote", :id => "vote", :class => "btn btn-sm btn-primary" %>
  <% else %>
    <%= link_to "Invite participants", invitations_poll_path , :class => "btn btn-success btn-sm"%>
  <% end %>

<table class="well">
  <th> <strong>Persons invited</strong> </th>

  <% @poll.recipients.each do |recipient|%>
    <tr>
      <td><%= recipient.email %></td>
      <td><%= link_to "Unique URL", poll_url(@poll.id, :token => recipient.token) %></td>
    </tr>
  <% end %>

</table>

<p  id="token"><%= params[:token] %> </p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
