<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

  <strong>Records:</strong>
  <ul id="records" data-poll-id="<%= @poll.id.to_s %>">
    <% @poll.records.each do |record| %>
      <%= render record %>
    <% end %>
  </ul>

  <%= button_tag "Vote", :id => "vote" %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
