<!DOCTYPE html>
<html>
<head>
  <title>TopList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= button_to "Register", new_user_registration_path, :method => :get %>
  <% if user_signed_in? %>
    <%= button_to "Logout", destroy_user_session_path, :method => :delete %>
    <%= current_user.email%>
  <%end %>
<%= yield %>

</body>
</html>
